body {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 1.5rem;
}
.container {
  /* visual */
  /* width: 70%; */
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

.title {
  text-align: center;
}

.self-info {
  display: flex;
  justify-content: space-between;
}

.profile-photo {
  border: 7px solid #aaa;
  border-radius: 50%;
}

.contacts {
  /* block-model */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  list-style: none;
  padding: 0;
}

.contact-item {
  text-align: center;
}

.contact-item img {
  /* visual */
  width: 80px;
  filter: grayscale(95%);
  transition: 1s;
}

.contact-item img:hover {
  transform: scale(1.4);
  transition: 1.6s;
  filter: grayscale(0);
}

.bio-info .title {
  text-align: center;
}

.skills {
  /* block-model */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  /* misc */
  list-style: none;
  padding: 0;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .col-md-2 {
    flex: 0 0 16.6667%;
    max-width: 16.6667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 33.3%;
    max-width: 33.3%;
    margin-bottom: 30px;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.skill-item {
  text-align: center;
}

.skill-item img {
  /* visual */
  width: 80px;
  transition: 1s;
  filter: grayscale(95%);
}

.skill-item img:hover {
  transform: scale(1.4);
  transition: 1s;
  filter: grayscale(0);
}

.edu-courses {
  padding: 0;
}

.footer .links {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.footer .links .link-item img {
  width: 100px;
}

.footer .links .link-item:last-child {
  align-self: center;
}

.credits {
  text-align: center;
}

.fas.fa-heart {
  color: #e84545;
}

.rss {
  display: block;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  width: 86px;
  height: 32px;
  background-image: url(../img/icons/rss.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  padding-right: 40px;
}

.rss-year {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 21px;
  letter-spacing: -2px;
  color: #cbd5de;
  line-height: 0.9;
  font-weight: bold;
  transition: 0.3s;
}
